<div class="text-center">
    <div class="mainText">
        <div class="mainText">
            <h1 class="display-4 text-capitalize purpleText fw-bold">
                Admin Menu
            </h1>
            <p class="smallText"><i>Some admin options you can use</i></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            

                <div class="col-4 mb-5">
                    <a class="admin-menu-a-tag" asp-area="Admin" asp-controller="Admin" asp-action="STORE">
                        <div class="admin-menu-card"
                                           
                        asp-append-version="true">
                            <p>STORE MENU</p>
                        </div>
                    </a>
                </div>

                <div class="col-4 mb-5">
                    <a class="admin-menu-a-tag" asp-area="Admin" asp-controller="Admin" asp-action="Users">
                        <div class="admin-menu-card"
                                           
                        asp-append-version="true">
                            <p>USER MENU</p>
                        </div>
                    </a>
                </div>

                <div class="col-4 mb-5">
                    <a class="admin-menu-a-tag" asp-area="Admin" asp-controller="Admin" asp-action="Orders">
                        <div class="admin-menu-card"
                                           
                        asp-append-version="true">
                            <p>ORDER MENU</p>
                        </div>
                    </a>
                </div>
        


        </div>
    </div>
</div>