<div class="text-center">
    <div class="mainText">
        <div class="mainText">
            <h1 class="display-4 text-capitalize purpleText fw-bold">
                Statistics Menu
            </h1>
            <p class="smallText"><i>See the most purchased or wishlisted products</i></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            

                <div class="col-4 mb-5">
                    <a class="admin-menu-a-tag" asp-area="Admin" asp-controller="Admin" asp-action="MostPurchased">
                        <div class="admin-menu-card"
                                           
                        asp-append-version="true">
                            <p>Most Purchased Products</p>
                        </div>
                    </a>
                </div>


        </div>
    </div>
</div>