@model EditDetailsViewModel

<h2>Edit User</h2>
<hr>
<form asp-action="Profile" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="Id" value="@Model.Id">
    <div class="mb-3">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="CardNumber"></label>
        <input asp-for="CardNumber" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label">Date of Birth</label>
        <input type="date" asp-for="DateOfBirth" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="UserGender" class="form-label">Gender</label>
        <select asp-for="UserGender" asp-items="ViewBag.UserGenders" class="form-select">
            <option value="">
                Choose
            </option>
        </select>
    </div>


    <div class="card">
        <div class="card-header">
            Password Confirmation
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>