@model List<Tag>

<div class="row">
    <div class="col-12">
        <h2>Tag List</h2>
        <a class="btn btn-primary" asp-action="Create">New Tag</a>
        <table class="table tabled-bordered mt-3">
            <thead>
                <tr>
                    <th style="width: 200px;">Image</th>
                    <th>Name</th>
                    <th>Products at Store</th>
                    <th>Options</th>
                    <th style="width: 125px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td><img src="/img/2.jpg" class="img-fluid" alt=""></td>
                        <td>@item.Text</td>
                        <td>@item.Products.Count()</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TagId" class="btn btn-sm btn-primary">Edit</a>
                            <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure?')" style="display: inline-block;">
                                <input type="hidden" name="id" value="@item?.TagId">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

